In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import Algfuns as Af
import numpy as np
import scipy as sp

In [2]:
wsn=Af.impbd('WSN','medidas')

In [3]:
WSN=Af.filtro(wsn)
WSN=wsn.head(10).iloc[:,2:7]

In [4]:
WSN1=WSN.iloc[0:-1,:].reset_index(drop=True).values.tolist()

In [5]:
WSN2=WSN.iloc[1::,:].reset_index(drop=True).values.tolist()

In [6]:
list(WSN.columns)

['TEMPERATURA',
 'HUMEDAD RELATIVA',
 'HUMEDAD DE LA TIERRA',
 'NIVEL UV',
 'INTENSIDAD LUMÍNICA']

In [7]:
w1=pd.DataFrame(WSN1)
w2=pd.DataFrame(WSN2)

In [8]:
w1.columns=list(WSN.columns)
w2.columns=list(WSN.columns)

In [9]:
w1

,TEMPERATURA,HUMEDAD RELATIVA,HUMEDAD DE LA TIERRA,NIVEL UV,INTENSIDAD LUMÍNICA
0,27.0,19.0,74.97,0.0,5853.0
1,28.0,19.0,72.72,0.0,5865.0
2,28.0,19.0,72.56,0.0,5859.0
3,28.0,19.0,72.40,0.0,5859.0
4,28.0,19.0,72.08,0.0,5859.0
5,28.0,19.0,71.92,0.0,5865.0
6,28.0,19.0,71.76,0.0,5859.0
7,28.0,19.0,71.60,0.0,5859.0
8,28.0,19.0,71.44,0.0,5859.0

In [10]:
w2

,TEMPERATURA,HUMEDAD RELATIVA,HUMEDAD DE LA TIERRA,NIVEL UV,INTENSIDAD LUMÍNICA
0,28.0,19.0,72.72,0.0,5865.0
1,28.0,19.0,72.56,0.0,5859.0
2,28.0,19.0,72.40,0.0,5859.0
3,28.0,19.0,72.08,0.0,5859.0
4,28.0,19.0,71.92,0.0,5865.0
5,28.0,19.0,71.76,0.0,5859.0
6,28.0,19.0,71.60,0.0,5859.0
7,28.0,19.0,71.44,0.0,5859.0
8,28.0,19.0,72.72,0.0,5859.0

In [11]:
w2=w2.drop([len(w2)-1])
w2

,TEMPERATURA,HUMEDAD RELATIVA,HUMEDAD DE LA TIERRA,NIVEL UV,INTENSIDAD LUMÍNICA
0,28.0,19.0,72.72,0.0,5865.0
1,28.0,19.0,72.56,0.0,5859.0
2,28.0,19.0,72.40,0.0,5859.0
3,28.0,19.0,72.08,0.0,5859.0
4,28.0,19.0,71.92,0.0,5865.0
5,28.0,19.0,71.76,0.0,5859.0
6,28.0,19.0,71.60,0.0,5859.0
7,28.0,19.0,71.44,0.0,5859.0

In [12]:
Rr=WSN.iloc[0:-1,:]

In [13]:
def mah(w1,w2,Rr):
    try:
        return Af.mahalM(w1,w2,Rr)
    except TypeError:
        return Af.euclidea(w1,w2)

In [14]:
mahala=mah(w1,w2,Rr)

ValueError: arrays must all be same length

In [ ]:
plt.plot(mahala)

In [ ]:
f=WSN.iloc[0:-1,:]
a=f.cov()
a

In [ ]:
b=a.shape
b

In [ ]:
def inv(m):
    a, b = m.shape
    if a != b:
        raise ValueError("Only square matrices are invertible.")

    i = np.eye(a, a)
    return np.linalg.lstsq(m, i)[0]

In [ ]:
def Inv(m):
    from scipy.linalg import LinAlgError
    try:
        return sp.linalg.inv(m)
    except LinAlgError:
        s=m.shape
        i = np.eye(s[1], s[1])
        return sp.linalg.lstsq(m, i)[0]

In [ ]:
Inv(a)