In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('medidas.csv')
df.columns = [i+str(df.NODO[0]) for i in df.columns]
df.head()

,IDMEDIDA2,NODO2,TEMPERATURA2,HUMEDAD RELATIVA2,HUMEDAD DE LA TIERRA2,NIVEL UV2,INTENSIDAD LUMÍNICA2,TIME2
0,1,2,27,19,74.97,0,5853,2018-05-09 09:38:00
1,2,2,28,19,72.72,0,5865,2018-05-09 09:49:00
2,3,2,28,19,72.56,0,5859,2018-05-09 09:50:00
3,4,2,28,19,72.40,0,5859,2018-05-09 09:51:00
4,5,2,28,19,72.08,0,5859,2018-05-09 09:52:00

In [4]:
np.corrcoef(df.iloc[:,1],df.iloc[:,2])[0][1]

-0.2384230810164191

In [5]:
df.reindex(columns = sorted(df.columns))

,HUMEDAD DE LA TIERRA2,HUMEDAD RELATIVA2,IDMEDIDA2,INTENSIDAD LUMÍNICA2,NIVEL UV2,NODO2,TEMPERATURA2,TIME2
0,74.97,19,1,5853,0,2,27,2018-05-09 09:38:00
1,72.72,19,2,5865,0,2,28,2018-05-09 09:49:00
2,72.56,19,3,5859,0,2,28,2018-05-09 09:50:00
3,72.40,19,4,5859,0,2,28,2018-05-09 09:51:00
4,72.08,19,5,5859,0,2,28,2018-05-09 09:52:00
5,71.92,19,6,5865,0,2,28,2018-05-09 09:53:00
6,71.76,19,7,5859,0,2,28,2018-05-09 09:54:00
7,71.60,19,8,5859,0,2,28,2018-05-09 09:55:00
8,71.44,19,9,5859,0,2,28,2018-05-09 09:56:00
9,72.72,19,10,5859,0,2,28,2018-05-09 09:57:00
10,72.56,19,11,5870,0,2,28,2018-05-09 09:58:00
11,72.24,19,12,5876,0,2,28,2018-05-09 09:59:00
12,72.08,19,13,5876,0,2,28,2018-05-09 10:00:00
13,71.92,19,14,5876,0,2,28,2018-05-09 10:01:00
14,71.76,19,15,5870,0,2,28,2018-05-09 10:02:00
15,71.28,19,16,5865,0,2,28,2018-05-09 10:03:00
16,70.96,19,17,5865,0,2,28,2018-05-09 10:04:00
17,70.63,18,18,5876,0,2,29,2018-05-09 10:05:00
18,70.47,18,19,5870,0,2,29,2018-05-09 10:06:00
19,70.15,18,20,5859,0,2,29,2018-05-09 10:07:00
20,69.99,18,21,5859,0,2,29,2018-05-09 10:08:00
21,69.67,18,22,5859,0,2,29,2018-05-09 10:09:00
22,68.71,18,23,5859,0,2,29,2018-05-09 10:10:00
23,68.23,18,24,5865,0,2,29,2018-05-09 10:11:00
24,64.21,18,25,5859,0,2,29,2018-05-09 10:12:00
25,64.05,18,26,5859,0,2,29,2018-05-09 10:13:00
26,63.89,18,27,5853,0,2,29,2018-05-09 10:14:00
27,63.73,18,28,5847,0,2,29,2018-05-09 10:15:00
28,63.57,18,29,5847,0,2,29,2018-05-09 10:16:00
29,63.41,18,30,5853,0,2,29,2018-05-09 10:17:00
...,...,...,...,...,...,...,...,...
22783,0.82,18,22784,5853,0,2,30,2018-06-11 06:03:00
22784,16.87,31,22785,5859,1,5,33,2018-06-11 06:03:00
22785,0.82,19,22786,5853,0,2,30,2018-06-11 06:04:00
22786,11.41,31,22787,5824,3,5,33,2018-06-11 06:04:00
22787,0.82,17,22788,5853,0,2,31,2018-06-11 06:05:00
22788,9.80,31,22789,5865,3,5,33,2018-06-11 06:05:00
22789,0.82,18,22790,5853,0,2,31,2018-06-11 06:06:00
22790,8.84,31,22791,5865,6,5,33,2018-06-11 06:06:00
22791,0.82,19,22792,5853,0,2,31,2018-06-11 06:07:00
22792,8.52,31,22793,5865,6,5,33,2018-06-11 06:07:00
22793,0.82,19,22794,5853,0,2,31,2018-06-11 06:08:00
22794,8.20,32,22795,5865,5,5,33,2018-06-11 06:08:00
22795,0.82,19,22796,5853,0,2,31,2018-06-11 06:09:00
22796,7.88,32,22797,5865,4,5,34,2018-06-11 06:09:00
22797,0.82,19,22798,5853,0,2,31,2018-06-11 06:10:00
22798,7.40,32,22799,5865,1,5,34,2018-06-11 06:10:00
22799,0.82,19,22800,5853,0,2,31,2018-06-11 06:11:00
22800,6.76,30,22801,5865,0,5,33,2018-06-11 06:11:00
22801,0.82,17,22802,5853,0,2,31,2018-06-11 06:12:00
22802,6.76,30,22803,5865,3,5,33,2018-06-11 06:12:00
22803,0.82,17,22804,5853,0,2,31,2018-06-11 06:13:00
22804,6.59,29,22805,5865,1,5,33,2018-06-11 06:13:00
22805,0.82,17,22806,5853,0,2,31,2018-06-11 06:14:00
22806,6.43,29,22807,5865,1,5,33,2018-06-11 06:14:00
22807,0.82,17,22808,5853,0,2,31,2018-06-11 06:15:00
22808,6.43,29,22809,5865,1,5,33,2018-06-11 06:15:00
22809,0.82,17,22810,5853,0,2,31,2018-06-11 06:16:00
22810,6.43,29,22811,5865,0,5,33,2018-06-11 06:16:00
22811,0.82,17,22812,5853,0,2,32,2018-06-11 06:17:00
22812,6.43,29,22813,5865,0,5,33,2018-06-11 06:17:00

In [ ]:
df = pd.DataFrame({'$a':[1,2], '$b': [10,20]})
#df.columns = ['a', 'b']
df.columns = [i for i in df.columns]
df

In [17]:
for i in range(1,22,3):
    print(i)

1
4
7
10
13
16
19